$primary-color: #061121;
$primary-color-d: #0a1d39f5;
$secondary-color: #1199FA;
$white: #fff;
$white-d: #dedede;
$black: #000;

$light-border: 1px solid #e6e6e6;
$background-glow: radial-gradient(45.87% 50% at 50% 50%, #3763C1 0%, rgba(35, 70, 157, 0.5) 38.39%, rgba(20, 43, 114, 0) 100%);
$box-shodow-light: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; 